@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header{
	position: absolute;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
  padding: 35px 100px 0;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
}

.logo{
  height: 60px;
  width: 60px;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}


.hero h1{
	font: bold 60px 'Ubuntu', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Ubuntu', sans-serif;
	margin-bottom: 40px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

}