@import url('https://fonts.googleapis.com/css?family=Ubuntu');


header{
	position: absolute;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2f3640;
  padding: 20px 30px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	background: white;
	font-weight: bold;
}


header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}
