<app-header></app-header>

<section>
  <div class="box">
    <h1 class="title">All yo peeps</h1>

    <div class="contactBox">
      <div class="cards" *ngFor="let contact of contacts">
        <div class="name">{{ contact.name }} </div>
        <div class="location">{{ contact.address }} </div>
        <div class="hidden" style="display:none">
          <div class="mobile">{{ contact.mobile }} </div>
          <div class="work">{{ contact.work }} </div>
          <div class="home">{{ contact.home }} </div>
          <div class="email">{{ contact.email }} </div>
          <div class="twitter">{{ contact.twitter }} </div>
          <div class="instagram">{{ contact.instagram }} </div>
          <div class="github">{{ contact.github }} </div>
        </div>



        <!-- <div class="height">Height: {{ char.height }}</div>
            <div class="gender">Gender: {{ char.gender }}</div>
            <div class="birth_year">Birth Year: {{ char.birth_year }}</div> -->
      </div>
    </div>
  </div>


</section>