@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

//HEADER STYLES IMPORTED



//SECTION FOR SEARCH BAR
section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 125px 100px 50px 100px;
	
}

.contactBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
	padding: 0px 100px 100px 100px;
}

.cards{
	width: 400px;
	flex-grow: 1;
	padding: 20px;
	margin: 10px;
	border-radius: 25px;
	font-size: 20px;
	background-color: palevioletred;
	color: black;
	
}

body{
  font-family: 'Open Sans', sans-serif;
}

.input{
	font-size: 20px;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  width: 100%;
	border: 3px solid #00B4CC;
  padding: 5px;
	height: 50px;
	width: 700px;
  border-radius: 5px;
  outline: none;
	color: #9DBFAF;
	font-size: 16px;
}

.searchTerm:focus{
	color: gray;
	font-size: 16px;
}

.searchButton {
  position: absolute;  
  right: -65px;
  width: 50px;
  height: 50px;
  border: 3px solid #00B4CC;
  background: white;
  text-align: center;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

