@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


//HEADER STYLES IMPORTED

body {
	margin: 0;
	padding: 0;
}

//SECTION FOR SEARCH BAR
section{
	display: flex;
	flex-direction: row;
	padding: 125px 100px 50px 100px;
}

.heading {
	font-size: 30px;
	padding-right: 15px;
	color: white;
	font-family: 'Ubuntu', sans-serif;

}

.contactBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
	padding-bottom: 50px;
}

.button-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-family: 'Ubuntu', sans-serif;

	.show-more {
		padding: 6px;
		margin: 0px 2px;
		border-radius: 10px;
		cursor: pointer;
		border-color: white;
		background-color: lightpink;
	}
	.edit {
		padding: 6px;
		margin: 0px 2px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration:none;
		border-color: white;
		background-color: lightpink;
	}
	.delete {
		padding: 6px;
		margin: 0px 2px;
		border-radius: 10px;
		cursor: pointer;
		border-color: white;
		background-color: lightpink;
	}
	.delete:hover {
		background: red;
		transition: .6s;
	}
}

.cards{
	padding: 20px;
	border-radius: 25px;
	font-size: 20px;
	background-color: lightpink;
	color: #2f3640;
	font-family: 'Ubuntu', sans-serif;
	width: 40%;
	margin: 10px;
}

.search-box {
	position: relative;
	background: #2f3640;
	height: 50px;
	border-radius: 40px;
}

.search-box:hover > .search-txt {
	width: 400px;
	padding: 0 15px;
}

.search-box:hover > .search-btn {
	background: red;
}

.search-btn {
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	transition: 0.7s;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 18px;
	transition: .4s;
	line-height: 50px;
	width: 0px;
	font-family: 'Ubuntu', sans-serif;
}